 <footer class="footer-wrapper bg-title footer-layout2 footer-layout5 space-top">
       <!--  <div class="container">
            <div class="title-area text-center mt-n3">
                <h2 class="sec-title text-white">Instagram Post</h2>
            </div>
            <div class="gallery-area3">
                <div class="slider-area">
                    <div class="swiper th-slider has-shadow"
                        data-slider-options='{"breakpoints":{"0":{"slidesPerView":1},"576":{"slidesPerView":"2"},"768":{"slidesPerView":"2"},"992":{"slidesPerView":"3"},"1200":{"slidesPerView":"4"},"1400":{"slidesPerView":"6"}}}'>
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="gallery-thumb2 style2"><img src="assets/img/gallery/gallery_10_1.jpg"
                                        alt="Gallery Image"> <a target="_blank" href="https://www.instagram.com/"
                                        class="gallery-btn"><i class="fab fa-instagram"></i></a></div>
                            </div>
                            <div class="swiper-slide">
                                <div class="gallery-thumb2 style2"><img src="assets/img/gallery/gallery_10_2.jpg"
                                        alt="Gallery Image"> <a target="_blank" href="https://www.instagram.com/"
                                        class="gallery-btn"><i class="fab fa-instagram"></i></a></div>
                            </div>
                            <div class="swiper-slide">
                                <div class="gallery-thumb2 style2"><img src="assets/img/gallery/gallery_10_3.jpg"
                                        alt="Gallery Image"> <a target="_blank" href="https://www.instagram.com/"
                                        class="gallery-btn"><i class="fab fa-instagram"></i></a></div>
                            </div>
                            <div class="swiper-slide">
                                <div class="gallery-thumb2 style2"><img src="assets/img/gallery/gallery_10_4.jpg"
                                        alt="Gallery Image"> <a target="_blank" href="https://www.instagram.com/"
                                        class="gallery-btn"><i class="fab fa-instagram"></i></a></div>
                            </div>
                            <div class="swiper-slide">
                                <div class="gallery-thumb2 style2"><img src="assets/img/gallery/gallery_10_5.jpg"
                                        alt="Gallery Image"> <a target="_blank" href="https://www.instagram.com/"
                                        class="gallery-btn"><i class="fab fa-instagram"></i></a></div>
                            </div>
                            <div class="swiper-slide">
                                <div class="gallery-thumb2 style2"><img src="assets/img/gallery/gallery_10_6.jpg"
                                        alt="Gallery Image"> <a target="_blank" href="https://www.instagram.com/"
                                        class="gallery-btn"><i class="fab fa-instagram"></i></a></div>
                            </div>
                            <div class="swiper-slide">
                                <div class="gallery-thumb2 style2"><img src="assets/img/gallery/gallery_10_2.jpg"
                                        alt="Gallery Image"> <a target="_blank" href="https://www.instagram.com/"
                                        class="gallery-btn"><i class="fab fa-instagram"></i></a></div>
                            </div>
                            <div class="swiper-slide">
                                <div class="gallery-thumb2 style2"><img src="assets/img/gallery/gallery_10_3.jpg"
                                        alt="Gallery Image"> <a target="_blank" href="https://www.instagram.com/"
                                        class="gallery-btn"><i class="fab fa-instagram"></i></a></div>
                            </div>
                            <div class="swiper-slide">
                                <div class="gallery-thumb2 style2"><img src="assets/img/gallery/gallery_10_4.jpg"
                                        alt="Gallery Image"> <a target="_blank" href="https://www.instagram.com/"
                                        class="gallery-btn"><i class="fab fa-instagram"></i></a></div>
                            </div>
                            <div class="swiper-slide">
                                <div class="gallery-thumb2 style2"><img src="assets/img/gallery/gallery_10_5.jpg"
                                        alt="Gallery Image"> <a target="_blank" href="https://www.instagram.com/"
                                        class="gallery-btn"><i class="fab fa-instagram"></i></a></div>
                            </div>
                            <div class="swiper-slide">
                                <div class="gallery-thumb2 style2"><img src="assets/img/gallery/gallery_10_2.jpg"
                                        alt="Gallery Image"> <a target="_blank" href="https://www.instagram.com/"
                                        class="gallery-btn"><i class="fab fa-instagram"></i></a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
        <div class="widget-area">
            <div class="container">
                <div class="row justify-content-between">
                    <div class="col-md-6 col-xl-3">
                        <div class="widget footer-widget">
                            <div class="th-widget-about">
                                <div class="about-logo"><a ><img src="assets/img/logo2-2.png"
                                            alt="Tourm"></a></div>
                                <p class="about-text">Somos una posada familiar en Capacho, estado Táchira, Venezuela, pensada para tu descanso y disfrute. Contamos con hospedaje confortable, restaurante y piscina, en un entorno familiar donde el buen servicio y la atención personalizada son nuestra prioridad.</p>
                                <div class="th-social"><a href="https://www.facebook.com/"><i
                                            class="fab fa-facebook-f"></i></a> <a href="https://www.twitter.com/"><i
                                            class="fab fa-twitter"></i></a> <a href="https://www.linkedin.com/"><i
                                            class="fab fa-linkedin-in"></i></a> <a href="https://www.whatsapp.com/"><i
                                            class="fab fa-whatsapp"></i></a> <a href="https://instagram.com/"><i
                                            class="fab fa-instagram"></i></a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-xl-auto">
                        <div class="widget widget_nav_menu footer-widget">
                            <h3 class="widget_title">Quick Links</h3>
                            <div class="menu-all-pages-container">
                                <ul class="menu">
                                    <li><a href="#">Inicio</a></li>
                                    <li><a href="#">Quienes Somos</a></li>
                                    <li><a href="#">Servicios</a></li>
                                    <li><a href="#">Contacto</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-xl-auto">
                        <div class="widget footer-widget">
                            <h3 class="widget_title">Contacto</h3>
                            <div class="th-widget-contact">
                                <div class="info-box_text">
                                    <div class="icon"><img src="assets/img/icon/phone.svg" alt="img"></div>
                                    <div class="details">
                                        <p><a href="tel:+584147015219" class="info-box_link">+58 0414 701-5219</a></p>
                                    </div>
                                </div>
                                <div class="info-box_text">
                                    <div class="icon"><img src="assets/img/icon/envelope.svg" alt="img"></div>
                                    <div class="details">
                                        <p><a href="mailto:lamolineraposada@gmail.com"
                                                class="info-box_link">lamolineraposada@gmail.com</a></p>
                                    </div>
                                </div>
                                <div class="info-box_text">
                                    <div class="icon"><img src="assets/img/icon/location-dot.svg" alt="img"></div>
                                    <div class="details">
                                        <p>Carrera 6, Capacho 5009, Táchira, Venezuela</p>
                                    </div>
                                </div>  
                            </div>
                        </div>
                    </div>
                   
                </div>
            </div>
        </div>
        <div class="copyright-wrap">
            <div class="container">
                <div class="row justify-content-between align-items-center">
                    <div class="col-md-6">
                        <p class="copyright-text"> Lanueva Molinera 2026. Todos los derechos reservados</p>
                    </div>
                   
                </div>
            </div>
        </div>
        <div class="shape-mockup movingX d-none d-xxl-block" data-top="10%" data-left="5%"><img
                src="assets/img/shape/shape_2_10.png" alt="shape"></div>
        <div class="shape-mockup movingX d-none d-xxl-block" data-top="20%" data-right="5%"><img
                src="assets/img/shape/shape_2_2.png" alt="shape"></div>
    </footer>