<div class="th-menu-wrapper onepage-nav">
    <div class="th-menu-area text-center"><button class="th-menu-toggle"><i class="fal fa-times"></i></button>
        <div class="mobile-logo"><a><img src="assets/img/logo2.png" alt="Tourm"></a></div>
        <div class="th-mobile-menu">
            <ul>
                <li class=" mega-menu-wrap"><a class="active" routerLink="/home">Inicio</a>

                </li>
                <li><a routerLink="/about">Quienes Somos</a></li>

                <li class=""><a routerLink="/services">Servicios</a>
                    <ul class="sub-menu">

                    </ul>
                </li>
                <li class="menu-item-has-children"><a routerLink="/rooms">Habitaciones</a>
                    <ul class="sub-menu">
                        <li *ngFor="let habitacion of habitacionesService.habitaciones$ | async">
                            <a routerLink="/room-details/{{habitacion.id}}">{{habitacion.name}}</a>
                        </li>
                    </ul>
                </li>
                <li><a routerLink="/contact">Contacto</a></li>
            </ul>
        </div>
    </div>
</div>
<header class="th-header header-layout7">
    <div class="header-top">
        <div class="container th-container">
            <div class="row justify-content-center justify-content-xl-between align-items-center">
                <div class="col-auto d-none d-md-block">
                    <div class="header-links">
                        <ul>
                            <li class="d-none d-xl-inline-block"><i class="fa-sharp fa-regular fa-location-dot"></i>
                                <span>Carrera 6, Capacho 5009, Táchira, Venezuela</span>
                            </li>
                            <li class="d-none d-xl-inline-block"><i class="fa-regular fa-clock"></i> <span>
                                    Abierto las 24 hrs.</span></li>
                        </ul>
                    </div>
                </div>
                <div class="col-auto">
                    <div class="header-right">

                        <div class="header-links">
                            <ul>
                                <li class="d-none d-md-inline-block"><a>FAQ</a></li>
                                <li class="d-none d-md-inline-block"><a routerLink="/contact">Soporte</a></li>
                                <li>
                                    <a href="#" (click)="handleAdminAction($event)" style="cursor: pointer;">
                                        {{ isAdminLogged ? 'Salir' : 'Ingresar' }}
                                        <i class="fa-regular fa-user"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="sticky-wrapper">
        <div class="menu-area">
            <div class="container th-container3">
                <div class="row align-items-center justify-content-between">
                    <div class="col-auto">
                        <div class="header-logo"><a><img src="assets/img/logo2.png" alt="Tourm"></a></div>
                    </div>
                    <div class="col-auto">
                        <nav class="main-menu d-none d-xl-block">
                            <ul>
                                <li class=" mega-menu-wrap"><a class="active" routerLink="/home">Inicio</a>

                                </li>
                                <li><a routerLink="/about">Quienes Somos</a></li>

                                <li class=""><a routerLink="/services">Servicios</a>
                                    <ul class="sub-menu">

                                    </ul>
                                </li>
                                <li class="menu-item-has-children"><a routerLink="/rooms">Habitaciones</a>
                                    <ul class="sub-menu">
                                        <li *ngFor="let habitacion of habitacionesService.habitaciones$ | async">
                                            <a routerLink="/room-details/{{habitacion.id}}">{{habitacion.name}}</a>
                                        </li>
                                    </ul>
                                </li>
                                <li><a href="#">Galeria</a></li>



                                <li><a routerLink="/contact">Contacto</a></li>
                                <li><a routerLink="/add">Agregar</a></li>
                            </ul>
                        </nav>
                    </div>
                    <div class="col-auto">
                        <div class="header-right-button"><a href="#sidemenu"
                                class="simple-btn sideMenuToggler d-none d-xl-block"><img
                                    src="assets/img/icon/menu2.svg" alt=""></a><button type="button"
                                class="th-menu-toggle d-block d-xl-none"><i class="far fa-bars"></i></button></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Modal de login, ahora dentro del mismo archivo -->
<div id="login-form" class="popup-login-register">
    <!-- Login Form -->
    <div class="modal-content tab-pane fade show" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
        <h3 class="box-title mb-30">Ingrese como administrador</h3>
        <div class="th-login-form">
            <form class="login-form ajax-contact" (submit)="onLogin($event)">
                <div class="row">
                    <div class="form-group col-12"><label>Usuario</label> <input type="text" class="form-control"
                            name="email" id="email" required="required"></div>
                    <div class="form-group col-12"><label>Contraseña</label> <input type="password" class="form-control"
                            name="password" id="password" required="required"></div>
                    <div class="form-btn mb-20 col-12"><button class="th-btn btn-fw th-radius2">Ingresar</button></div>
                </div>
                <!--                 <div id="forgot_url"><a href="my-account.html">Forgot password?</a></div>
 -->
                <p class="form-messages mb-0 mt-3"></p>
            </form>
        </div>
    </div>
    <button class="close-btn" (click)="closeLoginForm()">Cerrar</button>

</div>