<div class="th-menu-wrapper onepage-nav">
        <div class="th-menu-area text-center"><button class="th-menu-toggle"><i class="fal fa-times"></i></button>
            <div class="mobile-logo"><a ><img src="assets/img/logo2.png" alt="Tourm"></a></div>
            <div class="th-mobile-menu">
                <ul>
                    <li class=" mega-menu-wrap"><a class="active"
                                           routerLink="/home">Inicio</a>
                                       
                                    </li>
                                    <li><a routerLink="/about">Quienes Somos</a></li>
                                    
                                    <li class=""><a href="#">Servicios</a>
                                        <ul class="sub-menu">
                                            
                                        </ul>
                                    </li>
                                    <li class="menu-item-has-children"><a href="#">Habitaciones</a>
                                        <ul class="sub-menu">
                                          <!--   <li><a href="activities.html">activities</a></li>
                                            <li><a href="activities-details.html">activities Details</a></li> -->
                                        </ul>
                                    </li>
                                    <li><a href="#">Contacto</a></li>
                </ul>
            </div>
        </div>
    </div>
    <header class="th-header header-layout7">
        <div class="sticky-wrapper">
            <div class="menu-area">
                <div class="container th-container3">
                    <div class="row align-items-center justify-content-between">
                        <div class="col-auto">
                            <div class="header-logo"><a ><img src="assets/img/logo2.png"
                                        alt="Tourm"></a></div>
                        </div>
                        <div class="col-auto">
                            <nav class="main-menu d-none d-xl-block">
                                <ul>
                                    <li class=" mega-menu-wrap"><a class="active"
                                           routerLink="/home">Inicio</a>
                                       
                                    </li>
                                    <li><a routerLink="/about">Quienes Somos</a></li>
                                    
                                    <li class=""><a href="#">Servicios</a>
                                        <ul class="sub-menu">
                                            
                                        </ul>
                                    </li>
                                    <li class="menu-item-has-children"><a href="#">Habitaciones</a>
                                        <ul class="sub-menu">
                                          <!--   <li><a href="activities.html">activities</a></li>
                                            <li><a href="activities-details.html">activities Details</a></li> -->
                                        </ul>
                                    </li>
                                    <li><a href="#">Galeria</a></li>

                                   
                                    
                                    <li><a href="#">Contacto</a></li>
                                </ul>
                            </nav>
                        </div>
                        <div class="col-auto">
                            <div class="header-right-button"><a href="#sidemenu"
                                    class="simple-btn sideMenuToggler d-none d-xl-block"><img
                                        src="assets/img/icon/menu2.svg" alt=""></a><button type="button"
                                    class="th-menu-toggle d-block d-xl-none"><i class="far fa-bars"></i></button></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>